.card {
  display: flex;
  background-color: #352324;
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(156, 146, 150, 0.1);
  max-width: 600px;
  margin: auto;
  margin-top: 170px;
}

.leftSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.profileImage {
  border-radius: 8px;
  margin-top: 10px;
  width: 130px;
  height: 170px;
}

.companyName {
  color: white;
  font-weight: bold;
  padding: 8px;
  margin-top: 60px;
  border-radius: 9px;
  text-align: center;
}

.rightSection {
  flex: 1;
}

.rightSection h2 {
  color: #e89e42;
  margin-bottom: 5px;
}

.rightSection h3 {
  color: #ddd;
  margin-bottom: 15px;
}

.rightSection p {
  font-size: 16px;
  line-height: 1.6;
}
 
.hikeBadge {
  position: relative;
  display: inline;
  right: -350px;  
  background-color: #5fb56e;
  color: white;
  padding: 5px;
  width: 50px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 0.5px;
}

.rightsection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.watchButton {
  position: absolute;
  right: 90px;
  left: 10px;
  background-color: #ff0000;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-radius: 10%;
  cursor: pointer;
}

.footer {
  position: absolute;
  display: inline;
  margin-left: 310px;
  margin-top: 58px;
}

.watchButton {
  display: flex;
  align-items: center;
  background-color: #ff9900;
  color: red;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.youtubeIcon {
  display: inline;
  margin-left: 5px;
  flex-direction: row;
  width: 20px;
  height: 20px;
}

.watchLink {
  display: inline; 
  align-items: center; 
  text-decoration: none;
  color: brown; 
}
